<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.asreader.cdv" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>asreader</name>
	<js-module name="asreader" src="www/asreader.js">
		<clobbers target="asreader" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="AsReader">
				<param name="ios-package" value="AsReader" />
			</feature>
		</config-file>
		<source-file src="src/ios/AsReader.m" />
	</platform>
</plugin>